<article class="brick col-sm-6 col-md-4 col-lg-3">
  <% unless work.url.empty? %>
  <a href="<%= work.url %>" target="_blank" class="thumbnail">
  <% else %>
  <div class="thumbnail">
  <% end %>
    <img src="<%= work.screenshot.url(:default) %>" alt="<%= work.title %>">
    <% unless work.url.empty? %>
    <span class="link glyphicon glyphicon-link" aria-hidden="true"></span>
    <% end %>
    <ul>
      <% work.technologies.each do |technology | %>
      <li><i class="tech-<%= technology.slug %>" data-toggle="tooltip" data-placement="bottom" title="<%= technology.title %>"></i></li>
      <% end %>
    </ul>
  <% unless work.url.empty? %>
  </a>
  <% else %>
  </div>
  <% end %>
</article>

