/*
*= require bootstrap
*= require bootstrap-theme
*= require tech
*= require_self
*/

$blue: #81a2be;
$red: #ca6768;
$green: #adc599;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic');

@-webkit-keyframes wiggle {
  from {-webkit-transform: rotateZ(2deg);}
  50% {-webkit-transform: rotateZ(-2deg);}
  to {-webkit-transform: rotateZ(2deg);}
}

body {
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  height: 100%;
}

header {
  h1, h2 {
     margin: 0;
     padding: 0;
  }
  h1 {
    color: #333;
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: 0.15em;
  }
  h2 {
    color: #adadad;
    font-weight: 400;
    font-size: 0.875em;
  }
  .icon-bar {
    background-color: #333;
  }

  .navbar-toggle {
    margin-top: 0;
  }
  .container-fluid {
    padding: 0;
    margin: 45px 0 20px 0;
  }
  .navbar-brand {
    background: asset-url('logo.svg') 0 center no-repeat;
    background-size: 35px 34px;
    height: auto;
    padding: 0 15px 0 45px;
    margin-left: 0 !important;
    &:hover {
      -webkit-animation-name: wiggle;
      -webkit-animation-duration: .4s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease;
    }
  }
  .navbar-header{
    margin-left: 0 !important;
  }
}

main {
  &.container-fluid {
    padding: 30px 0;
    background-color: #fff;
  }
}

.brick {
  h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.95em;
    color: #666;
    letter-spacing: 0.15em;
    padding: 10px 15px 10px 15px;
    margin: 0;
    a {
      color: #666;
      &:hover {
        text-decoration:none;
      }
    }
  }
  .link {
    position: absolute;
    left: 19px;
    top: 4px;
    color: #666;
    text-shadow: #fff 0.05em 0.05em 0.05em
  }
  .thumbnail {
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0,0,0,.05);
    img {
      width: 100%;
      -webkit-filter: grayscale(100%);
      border-bottom: 1px solid #DFDFDF;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      opacity: .5;

    }
    &:hover {
      img {
        opacity: 1;
        -webkit-filter: grayscale(0%);
        transition-property: all;
        transition-duration: 2s;
      }
      background-color: #fff;
      text-decoration: none;
      transition-property: all;
      transition-duration: 2s;

    }
  }
  ul {
    margin: auto auto;
    padding: 5px 0 5px 0;
    text-align:center;
    background-color: #fff;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    li {
      list-style: none;
      display: inline-block;
      width:20px;
      height:20px;
      font-size:18px;
      color: #666;
      * {
        cursor: help !important;
      }
    }
  }
  border: none !important;
}

footer {
  .navbar-brand {
    float: none;
  }
  div.container {
    text-align: center;
    padding-left: 0;
  }
  .navbar {
    margin: 5px inherit 0 inherit;
  }
  .navbar-brand {
    font-size: .8em;
    color: #838383;
  }
  a:hover, a:active {
    background: none !important;
  }
  ul {
    margin-right: 0 !important;
  }
  ul li {
    float: none !important;
    display: inline-block !important;
    font-size: .8em;
    &:nth-child(1) a {
      color: $red;
    }
    &:nth-child(2) a {
      color: $green;
    }
    &:nth-child(3) a {
      color: $blue;
    }
  }
}