@font-face {
	font-family: 'tech';
	src:asset-url('tech.eot?tzxalf');
	src:asset-url('tech.eot?#iefixtzxalf') format('embedded-opentype'),
	asset-url('tech.woff?tzxalf') format('woff'),
	asset-url('tech.ttf?tzxalf') format('truetype'),
	asset-url('tech.svg?tzxalf#tech') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tech-"], [class*=" tech-"] {
	font-family: 'tech';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:hover {
		transition: color 0.5s ease;
	}
}

.tech-aws:before {
	content: "\e601";
}

.tech-aws:hover {
	color: #f7981f;
}

.tech-mysql:before {
	content: "\e605";
}

.tech-mysql:hover {
	color: #527e9a;
}

.tech-wordpress:before {
	content: "\e60a";
}

.tech-wordpress:hover {
	color: #1685b6;
}

.tech-nodejs:before {
	content: "\e604";
}

.tech-nodejs:hover {
	color: #82c80d;
}

.tech-django:before {
	content: "\e60d";
}

.tech-django:hover {
	color: #467656;
}

.tech-html5:before {
	content: "\e606";
}

.tech-html5:hover {
	color: #e44d26;
}

.tech-ruby:before {
	content: "\e607";
}

.tech-ruby:hover {
	color: #b50f01;
}

.tech-rails:before {
	content: "\e63b";
}

.tech-rails:hover {
	color: #9b2032;
}

.tech-python:before {
	content: "\e608";
}

.tech-python:hover {
	color: #377ef0;
}

.tech-php:before {
	content: "\e609";
}

.tech-php:hover {
	color: #777bb4;
}

.tech-markdown:before {
	content: "\e63e";
}

.tech-markdown:hover {
	color: #ff2857;
}

.tech-css3:before {
	content: "\e60b";
}

.tech-css3:hover {
	color: #0171bb;
}

.tech-sass:before {
	content: "\e60c";
}

.tech-sass:hover {
	color: #cc6699;
}

.tech-javascript:before {
	content: "\e60e";
}

.tech-javascript:hover {
	color: #e5a32b;
}

.tech-jquery:before {
	content: "\e60f";
}

.tech-jquery:hover {
	color: #0868ac;
}

.tech-redis:before {
	content: "\e610";
}

.tech-redis:hover {
	color: #d92f27;
}

.tech-postgresql:before {
	content: "\e611";
}

.tech-postgresql:hover {
	color: #316192;
}

.tech-heroku:before {
	content: "\e67b";
}

.tech-heroku:hover {
	color: #4d4292;
}

.tech-mongodb:before {
	content: "\61";
}

.tech-mongodb:hover {
	color: #439934;
}
