<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Stefan Harris">
  <title>stfn.io | Stefan Harris</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container">
    <nav class="navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <h1>Stefan Harris</h1>
            <h2>Web Developer</h2>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-fluid">
    <div class="container">
      <%= yield %>
    </div>
  </main>

  <footer class="container">
    <nav class="navbar">
      <div class="container">
        <ul class="nav nav-pills navbar-right">
          <li><a href="https://github.com/stfnhrrs" target="blank">GitHub</a></li>
          <li><a href="https://stackoverflow.com/users/1127025/stefan" target="blank">Stack Overflow</a></li>
          <li><a href="https://www.linkedin.com/profile/view?id=49693121" target="blank">LinkedIn</a></li>
        </ul>
        <div class="navbar-header">
          <p class="navbar-brand">&copy; Stefan Harris <%= Time.now.year %></p>
        </div>
      </div>
    </nav>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
